<div class="popup">
    <div class="color-modal">
        <div class="modal-title"></div>
        <div class="color-selectors js-color-selectors"></div>
        <div class="set-button js-set-colors-button">Done</div>
    </div>

</div>