@page
@model CrowdSourceModel
@{
    ViewData["Title"] = "Crowd Source";
}

@{
    Layout = "_MenuLayout";
}

<div>
    <div>
        <div>Crowd Source</div>
        
        <div class="js-word-container">
            <div>Hello</div>
            <div>Hello</div>
            <div>Hello</div>
            <div>Hello</div>
            <div>Hello</div>
        </div>
        
        <div class="definition-container">
            <div class="js-word">Word</div>

            <input type="hidden" class="js-original-word-status"/>
            <div>Is this a word</div>
            <div style="display: inline-block;">
                <div class="icon-button --tick js-tick" style="display: inline-block;"><span>check</span></div>
                <div class="icon-button --cross js-cross" style="display: inline-block;"><span>close</span></div>
            </div>

            <div class="js-word">Please enter the definition for this word</div>
            <textarea class="definition js-definition"></textarea>
            <div class="button js-definition-update-button">Confirm definition</div>

        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/crowd-source.js"></script>