<div class="popup">
    <div class="game-over">
        <div class="round-title js-end-round-title"></div>
        <div id="completeRoundButton" class="complete-round-button">Stop</div>
    </div>
</div>