@page
@using Chat.Pages
@model IndexModel
@{
    ViewData["Title"] = "Party games";
}

<div class="game-icon-container">
    <h1 class="page-title">Welcome to your games library</h1>
    <h3 class="page-subtitle">Pick a game to play</h3>
    
    @foreach (var game in @Model.Games.Games)
    {
        <a class="game-icon" href="@game.GameLink">
            <div class="game-title">@game.GameName</div>
            <div class="game-description">@game.GameDescription</div>
        </a>
    }
</div>
