<div class="popup">
    <div class="login js-login-content">
        <div class="name-label" for="user-name">Enter your name</div>
        <input id="my-name" name="user-name" type="text" class="popup-input">
        <button class="login-button js-login-button">Login</button>
    </div>
    <div class="login js-loading-spinner hidden">
        <div class="name-label">Loading</div>
        <div class="loading-spinner"></div>
    </div>
</div>