<div class="popup">
    <div class="login">
        <div class="name-label" for="user-name">Enter your name</div>
        <input id="my-name" name="user-name" type="text" class="popup-input">
        <input id="my-room" name="room" type="hidden" class="popup-input">
        <div class="name-label" for="user-name">Choose a room to join</div>
        <div name="room" class="js-rooms-list" type="text"></div>
        <div class="name-label" for="user-name">Start a new room</div>
        <div class="button js-create-room">Create room</div>
        <div class="login-button hidden js-login-button">Login</div>
    </div>
</div>