<div class="popup">
    <div class="login">
        <div class="name-label" for="user-name">Enter your name</div>
        <input id="my-name" name="user-name" type="text" class="popup-input">
        <button class="login-button js-login-button">Login</button>
    </div>
</div>