@page
@model Chat.Pages.Pixenary

@{
    ViewData["Title"] = "Pixenary";
}

<div class="button js-reset-button">Start</div>
<div class="button js-score-test">Test score</div>
<div class="title">Pixenary</div>
<div class="word-choice js-word-choice"></div>

<div class="top-score-fab js-score-fab fab"><span class="material-icons" style="margin-right: 4px; margin-left: 4px;">emoji_events</span><span id="score"></span></div>


<div class="js-score-user-selector"></div>

@* <div class="pixenary-table js-pixenary-table"></div> *@
<div class="pixel-canvas-container">
    <canvas id="pixel-canvas" width="300" height="300" class="pixel-canvas"></canvas>
</div>

<div class="color-container js-color-container"></div>
<div class="button js-fill-button">Fill background</div>

<div class="popup-modal js-login-modal">
    @await Html.PartialAsync("LoginPopup")
</div>

<div class="popup-modal popup-hidden js-timer-modal">
    @await Html.PartialAsync("TimerPopup")
</div>

<div class="popup-modal popup-hidden js-scores-modal">
    @await Html.PartialAsync("ScoresPopup")
</div>

<div class="popup-modal popup-hidden js-scores-breakdown-modal">
    @await Html.PartialAsync("ScoresBreakDownPopup")
</div>

<div class="popup-modal popup-hidden js-times-up">
    @await Html.PartialAsync("GameOver");
</div>

<div class="popup-modal popup-hidden js-color-modal">
    @await Html.PartialAsync("ColorPopup");
</div>

<script src="~/js/pixenary.js"></script>

