<div class="popup">
    <div class="login">
        <div class="name-label" for="user-name">Score breakdown</div>
        <div class="js-open-scores view-other-score">View total</div>
        <div id="messageList" class="score-list"></div>
        <div class="close-button js-close-scores-breakdown-modal"><span class="icons">close</span></div>
    </div>
</div>