<div id="table" class="table"></div>

<div id="options" class="options hidden">
    <div id="view-score-option" class="button">View scores</div>
    <div id="play-again-option" class="button">Play again</div>
</div>