@page
@model WilburPrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="game-icon --centered-icon">
    The Wilbur's Adventures app is designed to share fun and enjoyment with anyone who likes soft cute animals.
    When you enter the app no data is collected, the only thing that happens is a request is made for an image and it is returned and displayed in the app along with a title and description.
</p>
