<div class="popup">
    <div class="game-winner-banner js-winner-banner-title">
        @* <div class="round-title "></div> *@
        @* <div id="completeRoundButton" class="complete-round-button">Stop</div> *@
    </div>
</div>