<div class="popup">
    <div class="login">
        <div class="name-label" for="user-name">Enter your name</div>
        <form>
            <input id="my-name" name="user-name" type="text" class="popup-input">
            <div class="login-button">Login</div>
        </form>

    </div>
</div>