<div class="popup">
    <div class="login">
        <div class="name-label" for="user-name">Total scores</div>
        <div class="js-open-scores-breakdown view-other-score">View rounds</div>
        <div id="scoresList" class="score-list"></div>
        <div class="close-button js-close-scores-modal"><span class="icons">close</span></div>
    </div>
</div>